<div class="jumbotron bg-dark inner-cover" style="margin-top:30px">
      
        <h2 class="cover-heading" >About my page.</h2>
        <p class="lead">Its is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <h5>Photo of me:</h5>
          <div class="fakeimg">
            <img src="https://3.bp.blogspot.com/_YA50adQ-7vQ/S1gfIm66ItI/AAAAAAAAAAM/afcQKdbbZaU/S220-s113/brett.png">
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          </div>
          
         
          <ul class="nav nav-pills list-inline text-center d-flex justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Blog more</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Like</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Follow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <hr class="d-sm-none">
      </div>
